<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome.chaitanya.weather24">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissions for Google Cloud Message -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.awesome.chaitanya.weather24.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.chaitanyatanna.chaitanya.weather24.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/weather"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.awesome.chaitanya.weather24.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.awesome.chaitanya.weather24.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.awesome.chaitanya.weather24.MainActivity"
            android:theme="@style/AppTheme.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.awesome.chaitanya.weather24.MainActivity" />
        </activity>

        <activity android:name="com.awesome.chaitanya.weather24.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.awesome.chaitanya.weather24.MainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.awesome.chaitanya.weather24.MainActivity" />
        </activity>

        <!-- API Key for Places for getting User's current location -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIipfB8PVAWslFb_8tNPQMyje5ddpxtlw" />

        <provider
            android:authorities="@string/content_authority"
            android:name="com.awesome.chaitanya.weather24.data.WeatherProvider"
            android:exported="false"
            android:syncable="true" />

        <!--SyncAdapter's dummy authenticate service-->
        <service android:name="com.awesome.chaitanya.weather24.sync.WeatherAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service android:name="com.awesome.chaitanya.weather24.sync.WeatherSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- The Google Cloud Messaging receiver and services -->
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dmm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.awesome.chaitanya.weather24"/>
            </intent-filter>
        </receiver>

        <!--Muzei Extension -->
        <service android:name="com.awesome.chaitanya.weather24.muzei.WeatherMuzeiSource"
            android:icon="@drawable/ic_clear"
            android:label="@string/app_name"
            android:description="@string/muzei_description">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data android:name="color" android:value="@color/primary" />
        </service>

        <service android:name="com.awesome.chaitanya.weather24.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name="com.awesome.chaitanya.weather24.gcm.MyInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service android:name="com.awesome.chaitanya.weather24.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- Today Widget -->
        <receiver android:name="com.awesome.chaitanya.weather24.widget.TodayWidgetProvider"
            android:label="@string/title_widget_today">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.chaitanya.weather24.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_today" />
        </receiver>
        <service android:name="com.awesome.chaitanya.weather24.widget.TodayWidgetIntentService" />
        
    </application>

</manifest>